# Github token: e897ff6c-57ca-44fe-bcb9-86341e654205
# Git 
.git
.gitignore

#Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv
